.footerContainer{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    font-size: 0.875rem;
}
@media (min-width:640px) {
    .footerContainer{
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
    }
}
.footerLogo{
    margin-bottom: 1.25rem;
    width: 8rem;
}
.footerCol1Text{
    width: 100%;
}
@media (min-width:768px) {
    .footerCol1Text{
        width: 66.66%;
        color: #4b5563;
    }
}
.footerCompanyText{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}
.companyList{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: #4b5563;
    list-style: none;
}
.footerCol3Heading{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}
.copyrightText{
    padding: 1.25rem 0;
    text-align: center;
    font-size: 0.875rem;
}
div hr {
    height: 1px;
    border: none;
   background-color: #e5e7eb;
   margin: 0;
}
